name: tls-webhook-secret
metadata:
  name: tls-webhook-secret-name
spec:
  api:
    name: tls-webhook-secret-cert
    csr:
      country: US
      state: CA
      locality: Mountain View
      organisationname: kritis
    hosts:
    - kritis-validation-hook
    - kritis-validation-hook.kube-system
    - kritis-validation-hook.NAMESPACE
    - kritis-validation-hook.NAMESPACE.svc
